.button
 {
   -fx-background-color : #131314 ;
 }
 .button:hover
 {
   -fx-background-color : #000000;
 }
 .button:pressed
 {
   -fx-background-color : #131314;
 }
.table-view
{
  -fx-background-color: #000000;
  -fx-color: #B00F6F;
}
.table-view .table-cell
{
  -fx-background-color: #000000;
  -fx-text-fill: white;
  -fx-alignment: CENTER;
  -fx-border-width : 0.3px;
}
.table-view .column-header-background .label{
  -fx-text-fill: white;
}
.table-row-cell:selected .table-cell
{
  -fx-background-color: #B00F6F;
  -fx-text-fill: black;
}
.list-cell
{
  -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, #B00F6F 0%, black 75%);
  -fx-text-fill: white;
}